<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>

  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>com.sec.news.filter.manage.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>/manage/index.jsp</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>chartFilter</filter-name>
    <filter-class>com.sec.news.filter.ChartEncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>chartFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>autologinfilter</filter-name>
    <filter-class>com.sec.news.filter.manage.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>autologinfilter</filter-name>
    <url-pattern>/manage/login.jsp</url-pattern>
  </filter-mapping>


  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>com.sec.news.control.NewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TypeServlet</servlet-name>
    <servlet-class>com.sec.news.control.TypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.sec.news.control.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>frontservlet</servlet-name>
    <servlet-class>com.sec.news.control.FrontServlet</servlet-class>
  </servlet>


  <servlet-mapping>
  <servlet-name>NewServlet</servlet-name>
  <url-pattern>/servlet/NewServlet</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>frontservlet</servlet-name>
    <url-pattern>/servlet/FrontServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/servlet/TypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
